html {
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  background-color: rgb(27, 54, 94);
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}
nav li {
  display: inline;
  list-style: none;
}

nav a,
footer p {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  color: rgb(193, 194, 205);
  letter-spacing: 0.13rem;
}

nav a:hover {
  background-color: rgb(42, 64, 97);
}

span.link-letter {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #39f9f5;
  padding-right: 0.5rem;
}

p.logo {
  margin: 1rem 0 0 2.5rem;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: #39f9f5;
  letter-spacing: -0.8rem;
}

li.links {
  float: right;
  margin: 1rem 2rem;
}

header {
  grid-column: 1 / 2;
  grid-row: 1;
}

nav {
  grid-column: 2 / 4;
  grid-row: 1;
}

article {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.skills-icon {
  text-align: center;
}

i {
  margin: 1rem 3rem 0 3rem;
  font-size: 2.5rem;
  color: #39f9f5;

  animation-duration: 3s;
  animation-name: colors;
}

colors {
  animation-timing-function: ease-in-out;
  animation-direction: normal;
}

@keyframes colors {
  0% {
    color: #eff939;
  }
  10% {
    color: #dff939;
  }
  20% {
    color: #cff939;
  }
  30% {
    color: #b9f939;
  }
  40% {
    color: #93f939;
  }
  50% {
    color: #73f939;
  }
  60% {
    color: #53f939;
  }
  70% {
    color: #39f97f;
  }
  80% {
    color: #39f9af;
  }
  90% {
    color: #39f9d6;
  }
  100% {
    color: #39f9f5;
  }
}

main {
  grid-column: 1 / 4;
  grid-row: 3 / 10;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

div a {
  text-decoration: none;
}

section {
  margin: 2rem;
  width: 360px;
  height: 280px;
}

.certification-one,
.certification-two,
.certification-three,
.certification-four,
.certification-five,
.certification-six,
.certification-seven {
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #39f9f5;
}

.certification-five,
.certification-six,
.certification-seven {
  box-shadow: 0 0 0 150px rgba(27, 54, 94, 0.6) inset;
}

.certification-one {
  background-image: url(images/jsCert.jpg);
}

.certification-two {
  background-image: url(images/clCert.jpg);
}

.certification-three {
  background-image: url(images/htmlCert.jpg);
}

.certification-four {
  background-image: url(images/cssCert.jpg);
}

.certification-five {
  background-image: url(images/FEEcert.jpg);
}

.certification-six {
  background-image: url(images/jsCert2.jpg);
}
.certification-seven {
  background-image: url(images/gitCert.jpg);
}

.progress {
  margin: 1.5rem 0 7rem 1rem;
  color: #39f9f5;
  font-size: 2rem;
}

progress::-webkit-progress-value {
  background: #39f9f5;
}

.FEE-progress,
.JS-progress,
.GH-progress {
  margin: 1.5rem 0 0 1rem;
  height: 50px;
  width: 90%;
  border: 1px solid #39f9f5;
}

.site-link {
  text-decoration: none;
  color: #39f9f5;
  font-size: 1.5rem;
  display: block;
}

.right-align {
  text-align: right;
}

footer {
  grid-column: 1 / 4;
  grid-row: auto;
  margin-top: 3rem;
}

footer p {
  margin: -1rem 2rem;
  float: right;
}

@media screen and (max-width: 900px) {
  nav {
    grid-column: 3;
    margin-left: 5rem;
  }
  nav li {
    display: block;
    margin: 0.5rem 0;
  }
  li.links {
    float: none;
    margin: 1rem 0;
  }
  section {
    margin: 2rem;
    width: 300px;
    height: 220px;
  }
  i {
    margin: 1.5rem 2rem 0 2rem;
    font-size: 2;
  }
  .progress {
    margin: 1rem 0 6rem 1rem;
    font-size: 1.5rem;
  }
  .FEE-progress,
  .JS-progress,
  .GH-progress {
    height: 30px;
  }
}

@media screen and (max-width: 740px) {
  section {
    margin: 2rem;
    width: 250px;
    height: 200px;
  }
  .progress {
    margin: 1rem 0 5rem 1rem;
    color: #39f9f5;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section {
    margin: 2rem;
    width: 220px;
    height: 170px;
  }

  i {
    margin: 1.5rem 1rem 0 2rem;
    font-size: 2;
  }
  .progress {
    margin: 1rem 0 3.5rem 1rem;
    color: #39f9f5;
    font-size: 1.5rem;
  }
}
