html {
  font-size: 16px;
  background: linear-gradient(rgb(6, 8, 72), rgb(57, 249, 245));
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

body {
  /* background-image: linear-gradient(rgb(57, 249, 245), rgb(6, 8, 72)); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* color: transparent; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /* background: linear-gradient(rgb(6, 8, 72), rgb(57, 249, 245)); */
  /* background-color: rgb(27, 54, 94); */
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}

header {
  grid-column: 1 / 2;
  grid-row: 1;
}

nav {
  grid-column: 2 / 4;
  grid-row: 1;
}

nav li {
  display: inline;
  list-style: none;
}

nav a,
footer p {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  color: white;
  letter-spacing: 0.13rem;
}

nav a:hover {
  background-color: rgb(42, 64, 97);
}

span.link-letter {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #39f9f5;
  padding-right: 0.5rem;
}

p.logo {
  margin: 1rem 0 0 2.5rem;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: #39f9f5;
  letter-spacing: -0.8rem;
}

li.links {
  float: right;
  margin: 1rem 2rem;
}

.bio-section a {
  color: #39f9f5;
  text-decoration: none;
  margin: 0 4rem 0 0;

  animation-duration: 3s;
  animation-name: opacity;
}

opacity {
  animation-timing-function: ease-in-out;
  animation-direction: normal;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/* h1 {
  color: white;
} */

main {
  grid-column: 1 / 4;
  grid-row: 2 / auto;
}

.section-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  width: 90%;
  margin: auto;
}

.image-section img {
  margin-top: 0.5rem;
  width: 300px;
  border: 2px solid #39f9f5;
}

.bio-section {
  text-align: left;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  overflow: scroll;
  max-height: 550px;
}

.about-section {
  /* background: linear-gradient(rgb(57, 249, 245), rgb(6, 8, 72)); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* color: transparent; */
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 2px 2px rgb(6, 8, 72);
}

div a {
  text-decoration: none;
}

section {
  margin: 2rem;
  width: auto;
}

footer {
  grid-column: 1 / 4;
  grid-row: auto;
}

footer p {
  margin: -1rem 2rem;
  float: right;
}

@media screen and (max-width: 1220px) {
  .bio-section {
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    max-height: 540px;
    overflow: scroll;
  }
}

@media screen and (max-width: 900px) {
  nav {
    grid-column: 3;
    margin-left: 5rem;
    z-index: 1;
  }
  nav li {
    display: block;
    margin: 0.5rem 0;
  }
  li.links {
    float: none;
    margin: 1rem 0;
  }
  .bio-section a {
    margin: 0 3rem 0 0;
  }
}

@media screen and (max-width: 850px) {
  main {
    grid-row: 1 / auto;
  }

  span.social-icons {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 3rem;
  }
  /* a.contact-icon {
    margin: 4rem;
  } */
  .image-section {
    grid-column: 1 / 4;
    grid-row: 1 / auto;
  }

  .bio-section {
    grid-column: 1 / 4;
    grid-row: auto;
    margin: 0;
  }
  .image-section img {
    margin-top: 0.5rem;
    height: 300px;
    width: auto;
    border: 2px solid #39f9f5;
  }
  .bio-section {
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    overflow: visible;
  }
  .bio-section a {
    margin: 0 0.5rem 0 0;
  }
  footer {
    grid-column: 1 / 4;
    grid-row: 4;
  }
}
@media screen and (max-width: 540px) {
  main {
    grid-row: 2 / auto;
  }
  .image-section {
    grid-column: 1 / 4;
    grid-row: 3 / auto;
  }

  .bio-section {
    grid-column: 1 / 4;
    grid-row: 4;
    margin: 0 1.5rem;
  }
  footer {
    grid-row: 9;
  }
  span.social-icons {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  body {
    display: grid;
    grid-template-columns: 1ch;
    grid-auto-rows: minmax(100px, auto);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100vw;
  }
  main {
    width: 100vw;
  }
  footer {
    grid-row: 11;
  }
}

/* * {
  border: 1px solid white;
} */
