html {
  font-size: 16px;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  background-color: rgb(27, 54, 94);
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}

nav li {
  display: inline;
  list-style: none;
}

nav a,
footer p {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  color: rgb(193, 194, 205);
  letter-spacing: 0.13rem;
}

nav a:hover {
  background-color: rgb(42, 64, 97);
}

span.link-letter {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #39f9f5;
  padding-right: 0.5rem;
}

p.logo {
  margin: 1rem 0 0 2.5rem;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  color: #39f9f5;
  letter-spacing: -0.8rem;
}

li.links {
  float: right;
  margin: 1rem 2rem;
}

header {
  grid-column: 1 / 2;
  grid-row: 1;
}

nav {
  grid-column: 2 / 4;
  grid-row: 1;
}

main {
  grid-column: 1 / 4;
  grid-row: 2 / 7;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  margin: 2rem;
  width: 360px;
  height: 360px;
}

.project-one,
.project-two,
.project-three,
.project-four,
.project-five {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  border: 2px solid #39f9f5;

  animation-duration: 0.75s;
  animation-name: border-thick;
}

border-thick {
  animation-timing-function: ease-in-out;
}

@keyframes border-thick {
  0% {
    border: 12px solid #39f9f5;
  }
  10% {
    border: 11px solid #39f9f5;
  }
  20% {
    border: 10px solid #39f9f5;
  }
  30% {
    border: 9px solid #39f9f5;
  }
  40% {
    border: 8px solid #39f9f5;
  }
  50% {
    border: 7px solid #39f9f5;
  }
  60% {
    border: 6px solid #39f9f5;
  }
  70% {
    border: 5px solid #39f9f5;
  }
  80% {
    border: 4px solid #39f9f5;
  }
  90% {
    border: 3px solid #39f9f5;
  }
  100% {
    border: 2px solid #39f9f5;
  }
}

.project-one {
  background-image: url(images/alyshScreen.jpg);
}

.project-two {
  background-image: url(images/secretNumber.jpg);
}

.project-three {
  background-image: url(images/hikingClub.jpg);
  /* background-image: url(images/hikingClubTwo.jpg); */
}

.project-four {
  background-image: url(images/jokeModal.jpg);
}

.project-five {
  background-image: url(images/styleGuide.jpg);
}

.project-one h2,
.project-two h2,
.project-three h2,
.project-four h2,
.project-five h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

.project-one p,
.project-two p,
.project-three p,
.project-four p,
.project-five p {
  font-size: 1.25rem;
}

.project-one h2,
.project-two h2,
.project-three h2,
.project-four h2,
.project-five h2,
.project-one p,
.project-two p,
.project-three p,
.project-four p,
.project-five p {
  padding: 1rem 1.5rem 0 1.7rem;
  letter-spacing: 0.1rem;
  color: white;

  opacity: 0;
  transform: scale(0);
  transition: 0.5s;
}

.project-one:hover,
.project-two:hover,
.project-three:hover,
.project-four:hover,
.project-five:hover {
  /* opacity: 0.8; */
  box-shadow: 0 0 0 200px rgba(42, 64, 97, 0.93) inset;
  transition: 0.1s;
}

.project-one:hover p,
.project-two:hover p,
.project-three:hover p,
.project-four:hover p,
.project-five:hover p {
  opacity: 1;
  transform: scale(1);
}

.project-one:hover h2,
.project-two:hover h2,
.project-three:hover h2,
.project-four:hover h2,
.project-five:hover h2 {
  opacity: 1;
  transform: scale(1);
}

.site-link {
  text-decoration: none;
  color: #39f9f5;
  font-size: 1.5rem;
  display: block;
}

.right-align {
  text-align: right;
}

footer {
  grid-column: 3;
  grid-row: 7;
  margin: 2rem 1rem 0 0;
}

footer p {
  float: right;
}

@media screen and (max-width: 900px) {
  nav {
    grid-column: 3;
    margin-left: 5rem;
  }
  nav li {
    display: block;
    margin: 0.5rem 0;
  }
  li.links {
    float: none;
    margin: 1rem 0;
  }
  section {
    margin: 2rem;
    width: 300px;
    height: 300px;
  }
  .project-one:hover h2,
  .project-two:hover h2,
  .project-three:hover h2,
  .project-four:hover h2,
  .project-five:hover h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .project-one:hover p,
  .project-two:hover p,
  .project-three:hover p,
  .project-four:hover p,
  .project-five:hover p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 740px) {
  section {
    margin: 2rem;
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 640px) {
  section {
    margin: 2rem;
    width: 220px;
    height: 220px;
  }
  .project-one:hover h2,
  .project-two:hover h2,
  .project-three:hover h2,
  .project-four:hover h2,
  .project-five:hover h2 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .project-one:hover p,
  .project-two:hover p,
  .project-three:hover p,
  .project-four:hover p,
  .project-five:hover p {
    font-size: 1rem;
  }
}
